/* body */
body {
    background-color: #fff8dc;
}

.title {
    color: #8B0000;
    padding: 10px; 
    text-align: center;
}

p {
    color: #5F9EA0;
}

.title_pikmin{
    color: #8B0000;
    padding: 10px;
    text-align: center;
    border: dashed; 
    border-radius: 7px;
}

.red_title{
    color: #fff8dc;
    background-image: url(../sitepikminv2/assets/glitter_vermelho.jpg);
    border-radius: 8px;
    padding: 10px;
    width: 180px;
}

.yellow_title{
    color:#5F9EA0;
    background-image: url(../sitepikminv2/assets/glitter_amarelo.avif);
    border-radius: 8px;
    padding: 10px;
    width: 170px;
}

.img_pikmin_azul{
    max-width:250px;
    max-height:2500px;
}

.blue_title{
    color: #fff8dc;
    background-image: url(../sitepikminv2/assets/glitter_azul.jpg);
    border-radius: 8px;
    padding: 10px;
    width: 135px;
}

ul {
    color: #5F9EA0;
}