/* body */
body {
    background-color: #fff8dc;
}

.title {
    color: #8B0000;
    font-size: 60px;
    font-family: Helvetica;
    text-align: center;
    margin: auto;
}

.subtitle{
    color: #8B0000;
    font-size: 25px;
    font-family: Helvetica;
    padding: 5px;
    text-align: center;
}

p {
    font-family: Helvetica;
    color: #5F9EA0;
}

.title_pikmin{
    color: #5F9EA0;
    font-family: Helvetica;
    padding: 10px;
    text-align: center;
    border: 3px dashed #8B0000; 
    border-radius: 7px;
}

.pikmin_container{
     max-width: 1000px;
    /* Dica pra centralizar div */
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.pikmin_place{
    display: inline-block;
    place-items: center;
    padding: 20px 50px;
}

.red_title{
    color: #fff8dc;
    font-family: Helvetica;
    background-image: url(../sitepikminv2/assets/glitter_vermelho.jpg);
    border-radius: 8px;
    padding: 10px;
    width: 198px;
}

.yellow_title{
    color:#5F9EA0;
    font-family: Helvetica;
    background-image: url(../sitepikminv2/assets/glitter_amarelo.avif);
    border-radius: 8px;
    padding: 10px;
    width: 182px;
}

.img_pikmin_azul{
    max-width:250px;
    max-height:2500px;
}

.blue_title{
    color: #fff8dc;
    font-family: Helvetica;
    background-image: url(../sitepikminv2/assets/glitter_azul.jpg);
    border-radius: 8px;
    padding: 10px;
    width: 138px;
}


ul {
    font-family: Helvetica;
    color: #4f8a15;
}